<!DOCTYPE html> 
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ThoughtEngine{% endblock %}</title>

        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% block scripts %}
        {% endblock %}    
    </head>

    <body>
        
        <div id="container">
        {% block container %}
               <nav class="navbar navbar-default">
                {% block nav %}
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><strong>thoughtEngine<strong></a>
                        </div>     
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>blog</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span>Thoughts</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
               </nav>
               
            <main class="container">
            {% block content %}
                
            {% endblock %}
            </main>
            <footer class="container">
            {% block footer %}

            {% endblock %}
            </footer>
        {% endblock %}
        </div>
        
    </body>

</html>
