<html>

    <head>
        <title>{% block title %}ThoughtEngine{% endblock %}</title>
        {% block scripts %}{% endblock %}    
    </head>

    <body>
        
        <div id="container">
        {% block container %}
            <div id="header">
            {% block header %}
               <div id="logo">
                {% block logo %}

                {% endblock %}
               </div>
               <div id="navglobal">
                {% block navglobal %}
                    
                {% endblock %}
               </div>
            {% endblock %}
            </div>
            <div id="content">
             {% block content %}
              
             {% endblock %}
            </div>
            <div id="footer">
                {% block footer %}

                {% endblock %}
            </div>
        {% endblock %}
        </div>
        
    </body>

</html>
