<!DOCTYPE html> 
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ThoughtEngine{% endblock %}</title>

        {% block scripts %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}    
    </head>

    <body>
        
        <div id="container">
        {% block container %}
            <header>
            {% block header %}
               <div id="logo">
                {% block logo %}
                    <h1><small><strong>thought engine</strong></small></h3>
                {% endblock %}
               </div>
               
               <nav>
                {% block nav %}
                    <ul>
                        <li>posts</li>
                        <li>thoughts</li>
                    </ul>
                    
            
                {% endblock %}
               </nav>
            {% endblock %}
            </header>
            <main>
            {% block content %}
              
            {% endblock %}
            </main>
            <footer>
            {% block footer %}

            {% endblock %}
            </footer>
        {% endblock %}
        </div>
        
    </body>

</html>
