{% extends "base.html" %}
{% block content %}
<form id="LogInForm" class="form-horizontal">
    <h2>Signin To put your thoughts</h2>
    
    <p id="DoesNotExistErrorMsg" class="text-danger"></p>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>

    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="button"  class="btn btn-default" id="signin">Sign in</button>
    </div>
  </div>
</form>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 -->
<script type="text/javascript">
   
$('#signin').click(function(event){
      var email = $('#email').val();
      var password = $('#password').val();

      $.post("/login",
      {
          'email': email,
          'password': password,
      },
      function(data,status){
         if (data =='DoesNotExist'){
            $('#DoesNotExistErrorMsg').text("Login Failed! Incorrect username and password");
           }
         else{
            window.location.href = '/';
          }
        }
      );
    });
  
</script>
{% endblock %}