{% extends "base.html" %}


{% block bootstrap %}
<link rel="stylesheet" type="text/css" href="/static/bootstrap-wysihtml5/lib/css/bootstrap.min.css"></link>
{% endblock %}

{% block scripts %}
<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link> -->

<link rel="stylesheet" type="text/css" href="/static/bootstrap-wysihtml5/lib/css/prettify.css"></link>
<link rel="stylesheet" type="text/css" href="/static/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css"></link>
{% endblock %}


{% block nav %}
 <!-- need to override the nav from the base.html -->
{% endblock %}

{% block content %}
 <div class="row">
	    <div class="">
		    <h1><small>Keep it Simple, beautiful</small></h1>
		    <hr/>
		    
		       <div class="form-group">
		        <strong><input id="title" type="text" class="form-control" rows="2" placeholder="title" style="width:65%;font:20px bold bolder"></strong>
		        <textarea name="content" class="textarea form-control panel"  rows="15" placeholder="content start with an image..." style="width:65%"></textarea>
		       </div>
		        <div class="form-group">
		        	<i class="icon-tags" tabindex="-1"></i>
		        	<input id="tags" type="text" placeholder="tags seperated by commas" style="width:auto" />

		        	<label class="checkbox inline add-on"><strong>Private</strong></label>
		        	<input type="checkbox" class="checkbox inline"/>  
		        </div>
                
                	<button id="save" class="btn btn-success">save</button>
                	<button id="cancel" class="btn btn-danger">Cancel</button>
	    </div>
  </div>
	
	
<!-- loadl all the scripts for supporting the bootstrap-wysihtml5 rich text edtior -->
<script src="/static/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
<script src="/static/bootstrap-wysihtml5/lib/js/jquery-1.7.2.min.js"></script>
<script src="/static/bootstrap-wysihtml5/lib/js/prettify.js"></script>
<script src="/static/bootstrap-wysihtml5/lib/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>

<script type="text/javascript">
	$('.textarea').wysihtml5({"html": true,});  
	
    
    
    $('#save').click(function(){
    	var title = $('#title').val();
    	var html = $('.textarea').val();
    	var tags = $("#tags").val();

        
        $.post("/savePost",
        {
        	title: title,
            content: html,
            tags: tags,
        },
        function(data,status){
            alert("the saving of document Titled  " + data + " is " + status );
            }
        );
    });
	
</script>


{% endblock %}