{% extends "base.html" %}

{% block title %}
   {{ post.title }}

{% endblock %}


{% block scripts %}
    {{ super() }}
<style type="text/css">

  #post-body {
    word-wrap: break-word;
  }

  #post-body img{
     max-width: 100%;
     height: auto;
  }

</style>

    
{% endblock %}


{% block content %}
<div class="container">

    <div class="center-block">

    <div class="row">
        <div class="spacer30"></div>
    </div>
    <div class="row">
     <div class="col-md-10">    
      <div class="jumbotron" style="">
        <h1><small>{{ post.title }}</small></h1>
    
    
        <p class="small text-info">{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>

        <div id="post-body" class="">
           {{ post.body }}
        </div>
      </div>
    </div>
    </div>
    </div>
 </div>
 
{% endblock %}
